body {
    font-family: 'Arial', 'helvetica', sans-serif;
    background-color: #FFFBFB;
    
}

table {
    border-collapse: collapse;
    font-weight: bold;
}

table, th, td {
    border: 1px solid black;
}

button {
    margin:auto;
    display:block;
}

